@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.bg{
    background: url('https://images.unsplash.com/photo-1600324832899-4031cd16c99c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80') no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    filter: blur(0px);
    z-index: -1;
}

.loading-text{
    font-size: 50px;
    color: #fff;
}